<title>{{ pageSeo.title | escape }}</title>
  <meta name="description" content="{{ pageSeo.description | escape }}">
  <meta property="og:title" content="{{ (pageSeo.shareTitle or pageSeo.title) | escape }}">
  <meta property="og:description" content="{{ (pageSeo.shareDescription or pageSeo.description) | escape }}">
  <meta property="og:image" content="{{ pageSeo.image | seoImageUrl | escape }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ (pageSeo.shareTitle or pageSeo.title) | escape }}">
  <meta name="twitter:description" content="{{ (pageSeo.shareDescription or pageSeo.description) | escape }}">
  <meta name="twitter:image" content="{{ pageSeo.image | seoImageUrl | escape }}">
